.totalWrap {
  position: relative;
  padding: 14px 18px 15px 18px;

  .blogLink {
    display: flex;
    max-width: fit-content;
    height: 27px;
    cursor: pointer;
    align-items: center;

    .image {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .title {
      color: #666;
      font-size: 16px;
    }

    .bar {
      width: 1px;
      height: 13px;
      margin: 4px 8px 0 8px;
      background-color: #e1e1e1;
    }

    .time {
      margin-top: 6px;
      color: #8f8f8f;
      font-size: 14px;
    }
  }

  .saveKeep {
    position: absolute;
    width: 21px;
    height: 27px;
    top: 18.5px;
    right: 17px;

    .circlesLink {
      display: block;
      width: 38px;
      height: 27px;
      cursor: pointer;
      &:hover > .circles {
        background-color: #a68f74;
      }

      .circles {
        position: relative;
        width: 4px;
        height: 4px;
        margin-left: 17px;
        background-color: rgba(166, 143, 116, 0.5);
        border-radius: 50%;

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          background-color: inherit;
          border-radius: inherit;
        }
        &:before {
          top: 7px;
        }
        &:after {
          top: 14px;
        }
      }
    }
  }

  .titleLink {
    display: block;
    height: 25px;
    margin-top: 8px;
    color: #0068c3;
    font-size: 19px;
    line-height: 25px;
    cursor: pointer;
  }

  .totalGroup {
    display: flex;

    .textDiv {
      width: 625px;

      .textLink {
        display: block;
        word-break: break-all;
        font-size: 16.5px;
        cursor: pointer;
      }
    }

    .imageLink {
      display: block;
      height: 87px;
      margin: 8px 0 0 18px;
      cursor: pointer;

      .image {
        width: 87px;
        height: 87px;
      }
    }
  }
}
