.searchBar {
  height: 57px;
  border-bottom: 1px solid #2cde86;
  width: 100vw;

  .Logo {
    position: absolute;
    font-size: 40px;
    color: #06c755;
    font-weight: 900;
    font-stretch: 300%;
    top: 9px;
    left: 20px;
  }
  .searchBox {
    position: absolute;
    top: 13px;
    left: 60px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 225px);
    height: 32px;
  }
  .Erase {
    color: lightgray;
    position: absolute;
    top: 16px;
    right: 130px;
    white-space: nowrap;
  }
  .voiceSearch {
    color: #06c755;
    position: absolute;
    top: 9px;
    right: 70px;
  }
  .searchIcon {
    color: #06c755;
    position: absolute;
    top: 9px;
    right: 20px;
  }
}
.scrollMenu {
  overflow: auto;
  white-space: nowrap;
  height: 51px;

  .menuhome {
    display: inline-block;
    padding: 17.5px 15px 17.5px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #06c755;
  }
  .menu {
    display: inline-block;
    padding: 17.5px 15px 17.5px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
}
