.container {
  width: 768px;
  border: 1px solid #e8ebee;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;

  .ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .li {
      border-bottom: 1px solid #ecf0f2;

      .content {
        position: relative;
        padding: 14px 18px 15px 18px;
      }
    }
  }
}
