.commonContentArea {
    margin: 0 9px 12px 9px;
  
    .middleTitle {
      background-color: white;
  
      .linkMiddleTitle {
        display: block;
        margin: 0 15px;
        cursor: pointer;
  
        .h3 {
          height: 22px;
          padding-top: 14px;
          margin: 0;
          font-size: 16px;
        }
      }
    }
  
    .detailInfo {
      padding: 7px 15px 16px 15px;
      background-color: white;
  
      .text {
        font-size: 12.6px;
        color: #424242;
      }
  
      .a {
        font-size: 13px;
        color: #0c43b7;
        word-break: keep-all;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
  
      .ul {
        list-style: none;
      }
  
      .webtoonList {
        display: talbe;
        padding-top: 1px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 5px;
        border-spacing: 9px 0;
        border-collapse: separate;
        table-layout: fixed;
        box-sizing: border-box;
  
        .webtoonElem {
          display: table-cell;
          height: 1px;
          position: relative;
          background-color: var(#fff!important);
          white-space: normal;
          vertical-align: top;
          z-index: 2;
        }
      }
    }
  }
  