.commonContentArea {
  padding: 9px 0px 13px 15px;
  border: 1px solid #e8ebee;
  margin-top: 20px;
  background-color: white;

  .linkMiddleTitle {
    display: block;
    position: relative;
    padding-right: 15px;
    text-decoration: none;

    .h3 {
      height: 22px;
      padding: 8px 30px 0 0;
      margin: 0;
      color: black;
      font-size: 18px;
      line-height: 22px;

      .span {
        color: #6b707a;
      }
    }
  }

  .webtoonInfo {
    padding: 13px 0 3px 0;

    .webtoonList {
      display: flex;
      padding: 1px 0 4px 0px;
      margin: 0;
      list-style-type: none;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .webtoon {
        display: inline-block;
        border: 0.1px solid #e8ebee;
        border-radius: 6px;
        margin-right: 9px;
        width: 105px;
        height: 186.9px;

        .linkWebtoon {
          cursor: pointer;
          text-decoration: none;

          .webtoonDiv {
            height: 81.9px;
            position: relative;

            .rank {
              position: absolute;
              display: block;
              width: 24px;
              height: 24px;
              background-color: rgba(135, 142, 154, 0.9);
              font-size: 14px;
              color: #fff;
              font-weight: bold;
              text-align: center;
              border-radius: 4px;
            }

            .webtoonThumb {
              width: 105px;
              height: 105px;
              border-radius: 6px 6px 0 0;
            }
          }

          .titles {
            height: 70px;

            .titleBox {
              padding-top: 30px;
              padding-right: 11px;
              padding-left: 11px;
              font-size: 16px;
              word-break: break-all;
              color: #242424;
            }
            .subtitleBox {
              padding-top: 3px;
              padding-right: 11px;
              padding-bottom: 9px;
              padding-left: 11px;
              font-size: 14px;
              word-break: break-all;
              color: #8f8f8f;
            }
          }
        }
      }

      .list_more {
        display: inline-block;
        position: relative;
        width: 59px;
        height: 186.9px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        margin-right: 20px;
        padding-top: 45px;
        padding-left: 5px;

        .more {
          text-decoration: none;

          .inner_box {
            color: #666;
            width: 46px;
            height: 84.8px;

            .arrow {
              margin: 5px;
              padding: 7px;
              width: 25px;
              height: 25px;
              border: 1px solid #e2e9ec;
              font-weight: lighter;
              font-size: 10px;
              border-radius: 50%;
            }

            .inner_text {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .daily {
    color: #8f8f8f;
    font-size: 14px;

    // .button {
    //   visibility: none;

    .alert {
      cursor: pointer;
      margin-left: 5px;
      vertical-align: middle;
      margin-bottom: 3px;
    }
    // }
  }
}
