.commonContentArea {
  padding: 9px 0px 13px 15px;
  border: 1px solid #e8ebee;
  border-radius: 8px;
  margin: 0 9px;
  background-color: white;

  .linkMiddleTitle {
    display: block;
    position: relative;
    padding-right: 15px;
    text-decoration: none;

    .h3 {
      height: 22px;
      padding: 8px 30px 0 0;
      margin: 0;
      color: black;
      font-size: 18px;
      line-height: 22px;

      .span {
        color: #6b707a;
      }
    }
  }

  .webtoonInfo {
    padding: 13px 0 3px 0;

    .webtoonList {
      display: flex;
      padding: 1px 0 4px 0px;
      margin: 0;
      list-style-type: none;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      .webtoon_together {
        display: inline-block;
        border: 0.1px solid #e8ebee;
        border-radius: 6px;
        margin-right: 9px;
        width: 105px;
        height: 224.9px;

        .linkWebtoon_together {
          cursor: pointer;
          text-decoration: none;

          .webtoonDiv_together {
            height: 111.9px;
            position: relative;

            .rank_together {
              position: absolute;
              display: block;
              width: 24px;
              height: 24px;
              background-color: rgba(135, 142, 154, 0.9);
              font-size: 14px;
              color: #fff;
              font-weight: bold;
              text-align: center;
              border-radius: 4px;
            }

            .same {
                position: absolute;
                display: block;
                bottom: 0;
                height: 24px;
                background-color: rgba(135, 142, 154, 0.9);
                font-size: 13px;
                color: #fff;
                font-weight: bold;
                padding: 0px 6px;
                margin-bottom: 6px;
                text-align: center;
                border-radius: 4px; 
            }

            .webtoonThumb_together {
              width: 105px;
              height: 105px;
              border-radius: 6px 6px 0 0;
            }
          }

          .titles_together {
            height: 70px;

            .titleBox_together {
                padding-top: 0px;
                padding-right: 11px;
                padding-left: 11px;
                font-size: 16px;
                word-break: break-all;
                color: #242424;
            }
            .subtitleBox_together {
                padding-top: 3px;
                padding-right: 11px;
                padding-bottom: 9px;
                padding-left: 11px;
                font-size: 14px;
                word-break: break-all;
                color: #8f8f8f;
            }              
          }

          .divideline {
            border: 1px solid white;
            border-top: 1px solid #f2f4f6;
            width: 80px;
            margin-bottom: 5px;
            text-align: center;
          }
          .preference {
            padding-left: 11px;
            padding-right: 12px;
            padding-top: 0px;
            font-size: 14px;
            color: #6b707a;
          }
        }
    }
    .webtoon {
        display: inline-block;
        border: 0.1px solid #e8ebee;
        border-radius: 6px;
        margin-right: 9px;
        width: 105px;
        height: 186.9px;        

        .linkWebtoon {
          cursor: pointer;
          text-decoration: none;

          .webtoonDiv {
            height: 81.9px;
            position: relative;

            .rank {
              position: absolute;
              display: block;
              width: 24px;
              height: 24px;
              background-color: rgba(135, 142, 154, 0.9);
              font-size: 14px;
              color: #fff;
              font-weight: bold;
              text-align: center;
              border-radius: 4px;
            }

            .webtoonThumb {
              width: 105px;
              height: 105px;
              border-radius: 6px 6px 0 0;
            }
          }

          .titleBox {
            padding-top: 30px;
            padding-right: 11px;
            padding-left: 11px;
            font-size: 16px;
            word-break: break-all;
            color: #242424;
          }
          .subtitleBox {
            padding-top: 3px;
            padding-right: 11px;
            padding-bottom: 9px;
            padding-left: 11px;
            font-size: 14px;
            word-break: break-all;
            color: #8f8f8f;
          }
        }
      }
    }
  }
}
