.container {
  width: 768px;
  border: 1px solid #e8ebee;
  background-color: white;
  margin: 0 auto;

  .title_area {
    display: block;
    position: relative;
    height: 50.4px;
    .title {
      margin: 0;
      padding: 0 18px;
      font-size: 18px;
      line-height: 51px;
    }
    .subtitle {
      position: absolute;
      top: 0;
      right: 18px;
      font-size: 16px;
      line-height: 51px;
      text-align: right;

      .condition {
          .conditionDot {
              color: #06c755;
              margin-right: 5px;
              vertical-align: middle;
              margin-bottom: 3px;
              font-size: 7px;
          }

      }

      .subcondition {
          color: #909090;
          text-decoration: none;
          margin-left: 20px;

          .subconditionDot{
              color: #909090;
              margin-right: 5px;
              vertical-align: middle;
              margin-bottom: 3px;
              font-size: 7px;
          }
      }
    }
  }

  .ul {
    padding: 0;
    margin: 0;
    list-style-type: none;


    .li {
      border-top: 1px solid #ecf0f2;
    }
  }

  .more {
    background-color: #f4f7f8;
    text-align: center;
    color: #424242;
    height: 50px;
    line-height: 52px;
    width: 100%;
  }
}
