.bodyDiv {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.08);
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: -184.5px;
  padding-top: 190px;
  padding-bottom: 20px;
}
.basicInfo {
  margin-left: 15px;
  font-size: 13pt;
}
.details {
  color: gray;
  border-left: 2px solid lightgray;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12pt;
}
.titleTable {
  width: 100%;
}
.arrow {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 15pt;
  cursor: pointer;
  color: #777;
}
.infoHeading {
  color: gray;
  padding-right: 20px;
}
.btn {
  width: 100%;
  // margin-left: 5%;
  margin-top: 20px;

  .mapBtn {
    width: calc(100% - 90px);
    display: inline-block;
    padding: 10px;
    background-color: #fafbfc;
    border: 1px solid #e2e5e8;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: black;
  }
  .shareBtn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid #e2e5e8;
    margin-left: 5px;
    border-radius: 3px;
    width: 23px;
    padding-left: 13px;
    color: #333;
  }
}
