.container {
  display: flex;
  justify-content: center;
}
.maincard {
  width: 100vw;
  background-color: #ebeef1;
  max-width: 750px;
  border: 1px solid #e2e5e8;
  // border-top: 2px solid #c2c9cd;
  margin-top: 10px;
}
