.headerBody{
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
}
.influencerThumbnail{
    width: 44px;
    height: 44px;
    border-radius: 70px;
}
.headerThumbnail{
    width: 50px;
}
.fanTab{
    text-align: right;
}
.fanBtn{
    padding: 5px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 10pt;
    background-color: #c27636;
}
.headerDetail{
    width:83%;
}