.filterDiv {
  background-color: #f8fafb;
  display: flex;
  border-top: 1px solid #e2e5e8;
  border-bottom: 1px solid #e2e5e8;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 63px;
  list-style-type: none;
  align-items: center;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  .link {
    text-decoration: none;

    .tabFirst {
      padding: 4px 4px 4px 4px;
      width: 80px;
      display: inline-block;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 40px;
      background-color: #06c755;
      color: white;
      text-align: center;
      cursor: pointer;
      margin: 0 10px 0 -25px;
      .tabTitle {
        font-weight: 600;
        font-size: 11pt;
        display: inline;
        text-decoration: none;
        line-height: 32px;
      }
      .tabSubTitle {
        font-size: 10pt;
        text-decoration: none;
      }
    }
    .tabs {
      padding: 4px 15px 4px 4px;
      display: inline-block;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 40px;
      background-color: white;
      text-align: center;
      border: 1px solid #e2e5e8;
      text-decoration: none;
      margin-right: 10px;

      .tabThumbnail {
        overflow: hidden;
        position: relative;
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: 5px;
        border-radius: 50%;
        vertical-align: middle;
        border: 0.5px solid #e2e5e8;
      }
      .tabTitleTabs {
        font-weight: 600;
        font-size: 11pt;
        display: inline;
        text-decoration: none;
        color: #666;
        // line-height: 32px;
      }
      .tabSubTitleTabs {
        font-size: 10pt;
        color: #666;
        text-decoration: none;
      }
    }
  }
}
