.influencerBody {
  width: 768px;
  background-color: white;
  border: 1px solid #e8ebee;
  margin: 0 auto;
  margin-top: 10px;

  .title_area {
    display: block;
    position: relative;
    height: 50.4px;
    .title {
      margin: 0;
      padding: 0 18px;
      font-size: 18px;
      line-height: 51px;
    }
    .subtitle {
      position: absolute;
      top: 0;
      right: 18px;
      font-size: 15px;
      line-height: 51px;
      text-align: right;
    }
    .alert {
      cursor: pointer;
      margin-left: 5px;
      vertical-align: middle;
      margin-bottom: 3px;
    }
    .Link {
      color: #0068c3;
      text-decoration: none;
    }
  }
  .more {
    background-color: #f4f7f8;
    text-align: center;
    color: #424242;
    height: 50px;
    line-height: 52px;
    width: 100%;
  }
}
