.commonContentArea {
  height: 363px;
  margin: 0 9px 12px 9px;

  .photoList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 261.6px;
    padding: 0;
    border-radius: 8px 8px 0 0;
    background-color: white;
    list-style-type: none;

    .mainPhoto {
      width: 260.6px;
      height: 260.6px;
      margin: 1px 0 0 1px;
      grid-row-start: 1;
      grid-row-end: 3;

      .linkMainPhoto {
        display: block;
        cursor: pointer;
      }
    }

    .smallPhoto {
      width: 129.8px;
      height: 129.8px;
      margin: 1px 0 0 1px;
      background-color: red;
    }
  }
}
