.commonContentArea {
  height: 363px;
  margin: 0 9px 12px 9px;

  .photoList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 261.6px;
    padding: 0;
    border-radius: 8px 8px 0 0;
    margin: 0;
    background-color: white;
    list-style-type: none;

    .mainPhoto {
      width: 260.6px;
      height: 260.6px;
      margin: 1px 0 0 1px;
      grid-row-start: 1;
      grid-row-end: 3;

      .linkMainPhoto {
        display: block;
        height: 260.6px;
        cursor: pointer;

        .mainPhotoImg {
          width: 260.6px;
          height: 260.6px;
          border-radius: 8px 0 0 0;
        }
      }
    }

    .smallPhoto {
      width: 129.8px;
      height: 129.8px;
      margin: 1px 0 0 1px;

      .linkSmallPhoto {
        display: block;
        height: 129.8px;
        cursor: pointer;

        .smallPhotoImg {
          width: 129.8px;
          height: 129.8px;
        }

        .smallPhotoRoundImg {
          width: 129.8px;
          height: 129.8px;
          border-radius: 0 8px 0 0;
        }
      }
    }
  }
}
