.commonModule {
  height: 724px;
  padding-bottom: 25px;
  border: 1px solid #e8ebee;
  border-radius: 6px;
  margin: 0 30px 0 30px;
  background-color: #f4f3f0;

  .topWrap {
    height: 114px;
    &:before {
      content: "";
      position: absolute;
      width: 670px;
      height: 2px;
      border-top: 1px solid #e8ebee;
      border-radius: 6px 6px 0 0;
      background-color: #e2dad1;
    }
  }

  .contentWrap {
    height: 589px;
    padding-bottom: 20px;
    border: 0 1px 1px 1px;

    .similarContentArea {
      height: 213px;
      padding-bottom: 1px;
    }
  }
}
