.commonModule {
  position: relative;
  width: 768px;
  border: 1px solid #e8ebee;
  border-radius: 6px 6px 0 0;
  margin: 9px auto 0 auto;
  background-color: #f4f3f0;

  .topWrap {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 768px;
      height: 2px;
      border-top: 1px solid #e8ebee;
      border-radius: 6px 6px 0 0;
      background-color: #e2dad1;
    }
  }

  .contentWrap {
    padding-bottom: 20px;
    border: 0 1px 1px 1px;
  }
}
