.subTapArea {
  margin-top: -12px;

  .tapList {
    display: flex;
    padding: 8px 0 11px 0;
    margin: 0;
    list-style-type: none;

    .subTap {
      margin-right: 1.5px;

      .subTapEntireLink {
        display: flex;
        border-radius: 3px;
        margin: 1px 0 0 18px;
        color: #fff;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;

        .subTapText {
          padding: 0 11px;
          font-size: 15px;
          line-height: 30px;
        }
      }

      .subTapLink {
        margin-top: 1px;
        cursor: pointer;
        text-decoration: none;

        .subTapBar {
          display: inline-block;
          width: 1px;
          height: 16px;
          margin-right: 4px;
        }

        .subTapText {
          padding: 0 11px;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  }
}
