.titleArea {
  position: relative;
  padding: 18px 37px 13px 18px;
  margin-top: 3px;

  .mainTitle {
    height: 25px;
    margin: 2px 46px 0 0;
    line-height: 25px;
    font-size: 21px;
    letter-spacing: -0.25px;
  }

  .saveKeep {
    width: 21px;
    height: 27px;
    position: absolute;
    top: 20px;
    right: 18px;

    .hide {
      .clickKeep {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        &:checked + div.keepMenu {
          display: block;
        }
      }
      .circles {
        position: absolute;
        cursor: pointer;
      }
      .keepMenu {
        display: none;
        font-size: 17px;
        color: #424242;
        position: absolute;
        width: 180px;
        background-color: white;
        border-radius: 5px;
        right: 5px;
        top: 40px;
        height: 98px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        .modalBg{
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0);
          position: fixed;
          top: 0;
          left: 0;
          display: block;
          z-index: 3;
        }
        .keepGo {
          height: 49px;
          line-height: 49px;
          padding-left: 20px;
          cursor: pointer;
          .Right {
            margin-left: 27px;
            color: rgb(135, 142, 154);
          }
        }
        .keepSave {
          height: 49px;
          line-height: 49px;
          padding-left: 20px;
          border-bottom: 1px solid #ecf0f2;
          cursor: pointer;
          .Right {
            margin-left: 40px;
            color: rgb(135, 142, 154);
          }
        }
      }
    }
  }

  .subTitle {
    height: 20px;
    margin-top: 7px;

    .subTextSpan {
      line-height: 20px;
      font-size: 16px;
    }

    .subBarSpan {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 4px 9px 0 9px;
    }
  }
}
