.titleArea {
  position: relative;
  padding: 18px 37px 13px 18px;
  margin-top: 3px;

  .mainTitle {
    height: 25px;
    margin: 2px 46px 0 0;
    line-height: 25px;
    font-size: 21px;
    letter-spacing: -0.25px;
  }

  .saveKeep {
    width: 21px;
    height: 27px;
    position: absolute;
    top: 20px;
    right: 18px;

    .circlesLink {
      display: block;
      width: 38px;
      height: 27px;
      cursor: pointer;
      &:hover > .circles {
        background-color: #a68f74;
      }

      .circles {
        position: relative;
        width: 4px;
        height: 4px;
        margin-left: 17px;
        background-color: rgba(166, 143, 116, 0.5);
        border-radius: 50%;

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          background-color: inherit;
          border-radius: inherit;
        }
        &:before {
          top: 7px;
        }
        &:after {
          top: 14px;
        }
      }
    }
  }

  .subTitle {
    height: 20px;
<<<<<<< HEAD
    margin-top: 7px;
=======
>>>>>>> upstream/main

    .subTextSpan {
      line-height: 20px;
      font-size: 16px;
    }

    .subBarSpan {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 4px 9px 0 9px;
      background-color: rgba(166, 143, 116, 0.3);
    }
  }
}
