.titleArea {
  position: relative;
  padding: 18px 37px 13px 18px;
  margin-top: 3px;

  .mainTitle {
    height: 25px;
    margin: 2px 46px 0 0;
    line-height: 25px;
    font-size: 21px;
    letter-spacing: -0.25px;
  }

  .subTitle {
    height: 20px;
    margin-top: 7px;

    .subTextSpan {
      line-height: 20px;
      font-size: 16px;
    }

    .subBarSpan {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 4px 9px 0 9px;
    }
  }
}
